@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bellefair', serif;
}

h4 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2rem;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
}

.bg-home, .bg-crew, .bg-destination, .bg-technology {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Fondo para dispositivos móviles */
@media (width <= 640px) {
  .bg-home {
    background-image: url("/src/assets/home/background-home-mobile.jpg");
  }

  .bg-destination {
    background-image: url("/src/assets/destination/background-destination-mobile.jpg");
  }

  .bg-crew {
    background-image: url("/src/assets/crew/background-crew-mobile.jpg");
  }

  .bg-technology {
    background-image: url("/src/assets/technology/background-technology-mobile.jpg");
  }

}

/* Fondo para dispositivos tablet */
@media (640px <= width <= 1024px) {
  .bg-home {
    background-image: url("/src/assets/home/background-home-tablet.jpg");
  }

  .bg-destination {
    background-image: url("/src/assets/destination/background-destination-tablet.jpg");
  }

  .bg-crew {
    background-image: url("/src/assets/crew/background-crew-tablet.jpg");
  }

  .bg-technology {
    background-image: url("/src/assets/technology/background-technology-tablet.jpg");
  }

}

/* Fondo para dispositivos de escritorio */
@media (width >= 1024px) {
  .bg-home {
    background-image: url("/src/assets/home/background-home-desktop.jpg");
  }

  .bg-destination {
    background-image: url("/src/assets/destination/background-destination-desktop.jpg");
  }

  .bg-crew {
    background-image: url("/src/assets/crew/background-crew-desktop.jpg");
  }

  .bg-technology {
    background-image: url("/src/assets/technology/background-technology-desktop.jpg");
  }
}
